BasedOnStyle: LLVM
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IndentWidth: 4
ContinuationIndentWidth: 4
PointerAlignment: Left
DerivePointerAlignment: false
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: false
BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
ColumnLimit: 100000
SortIncludes: false
NamespaceIndentation: None
FixNamespaceComments: false
ReflowComments: false
UseCRLF: true
